@import url('https://fonts.googleapis.com/css?family=Overpass:300,400,800,300i,400i,600i,700i,800i');

h1 {
    @include font-size(36px);  
}

h2 {
    @include font-size(32px);  
}

h3 {
    @include font-size(28px);  
}

h4 {
    @include font-size(20px);  
}

a {
    text-decoration: none;
    color: $matisse;
    transition: color .5s;


    &:hover {
        color: $pistachio;
    }
}

ul,
h4,
p {
    margin-bottom: 10px;
}

li {
    list-style: none;
}

.endnote {
    @include font-size(12px);  
}



