@import url('https://fonts.googleapis.com/css?family=Overpass:300,400,800,300i,400i,600i,700i,800i');

h1 {
  @include font-size(36px);
}

h2 {
  @include font-size(32px);
  line-height: 35px;
  @include rem(margin-bottom, 30px);

  color: $matisse;
}

h3 {
  @include font-size(28px);
  line-height: 30px;
  @include rem(margin-bottom, 15px);
}

h4 {
  @include font-size(20px);
}

a {
  text-decoration: none;
  color: $matisse;
  transition: color .5s;


  &:hover,
  &:focus {
    color: $pistachio;
  }
}

ul,
ol,
h4,
p {
  @include rem(margin-bottom, 15px);
}

p {
  line-height: 1.6;
}

li {
  margin-left: 20px;
}

.endnote {
  @include font-size(12px);
}