@import url('https://fonts.googleapis.com/css?family=Overpass:300,400,800,800i');

a {
    text-decoration: none;
    color: $matisse;

    &:hover {
        color: $sunflower;
    }
}

ul,
h4,
p {
    margin-bottom: 10px;
}

li {
    list-style: none;
}

.endnote {
    @include font-size(12px);  
}



