// Theme colors

$matisse: #206FAF; // RGB 32, 111, 175
$sunflower: #EAC51F; // RGB 234, 197, 31
$pistachio: #82BF0A; // RGB 130, 191, 10
$white: #fff;
$black: #111; // RGB 17, 17, 17

// Social Colors

$twitter: #1da1f2;
$linkedin: #0077b5;
$youtube: #ff0000;
$instagram: #833ab4;
$codepen: #000000;
$github: #24292e;

// Fonts

$overpass: 'Overpass', sans-serif;