<section class="contact" role="contact">
  <div class="container contact-container boom">
    <div class="c-box">
      <h2>Contact</h2>
    </div>
    <div class="c-box">
      <form name="contact" method="POST" data-netlify="true">
        <label for="fullName">Full Name <span>*req</span></label>
        <input type="text" name="fullName" id="fullName" required>
        <label for="email">Email Address <span>*req</span></label>
        <input type="text" name="email" id="email" required>
        <label for="">Message <span>*req</span></label>
        <textarea name="message" id="" cols="30" rows="10" required></textarea>
        <div data-netlify-recaptcha="true"></div>

        <input type="submit" value="Send">
      </form>
    </div>
  </div>
</section>