<footer>
  <div class="container">
    <div class="copy">
      <span>&copy;2020 Rebecca Eilering</span>
    </div>
    <div class="social">
      <a href="https://github.com/rebeccaeilering" target="_blank"><span class="fab fa-github"></span></a>
      <a href="https://codepen.io/rebeccaeilering/" target="_blank"><span class="fab fa-codepen"></span></a>
      <a href="https://twitter.com/rebeccaeilering" target="_blank"><span class="fab fa-twitter"></span></a>
      <a href="https://www.linkedin.com/in/rebeccaeilering" target="_blank"><span class="fab fa-linkedin-in"></span></a>
      <a href="https://www.instagram.com/rebeccaeilering/" target="_blank"><span class="fab fa-instagram"></span></a>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.4/scrollreveal.min.js"></script>
