<button id="mobile-nav">
  <i class="fas fa-bars"></i>
</button>
<div id="site-wrapper">
  <header class="nav-section">
      <div class="navigation">
          <nav>
              <button id="mobile-close">
                  <i class="fas fa-times"></i>
              </button>
              <ul>
                  <li>
                      <a href="/">Home</a>
                  </li>
                  <li>
                      <a href="about.html">About</a>
                  </li>
                  <li>
                      <a href="web-development.html">Web Dev</a>
                  </li>
                  <li>
                      <a href="design.html">Design</a>
                  </li>
                  <li>
                      <a href="art.html">Art</a>
                  </li>
                  <li>
                      <a href="https://rebeccaeilering.github.io/dev-blog/" target="_blank">Blog</a>
                  </li>

              </ul>
          </nav>
        </div>
    </header>