<button id="mobile-nav">
  <i class="fas fa-bars"></i>
</button>
<header>
  <div class="container">
    <div class="branding">
      <h1><a href="/">Rebecca Eilering</a></h1>
    </div>
    <nav>
      <h2 class="sr-only">Main Navigation</h2>
      <button id="mobile-close">
        <i class="fas fa-times"></i>
      </button>
      <ul>
        <li>
          <a class="a1" href="/">Home</a>
        </li>
        <li>
          <a class="a1" href="/about.html">About</a>
        </li>
        <li class="has-children">
          <a class="a1" href="/web-development/web-development.html">Web Dev</a>
          <ul id="sl-1" class="second-level">
            <li><a href="/web-development/web-development-personal-projects.html">Personal Projects</a></li>
          </ul>
        </li>
        <li class="has-children">
          <a class="a1" href="/art/art.html">Art</a>
          <ul id="sl-2" class="second-level">
            <li><a href="/art/interlocking-divide.html">Interlocking Divide</a></li>
            <li><a href="/art/charcoal-drawings.html">Charcoal Drawings</a></li>
            <li><a href="/art/graphite-drawings.html">Graphite Drawings</a></li>
          </ul>
        </li>
        <li>
          <a class="a1" href="https://rebeccaeilering.github.io/my-dev-blog/" target="_blank">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
  
</header>