<button id="mobile-nav">
  <i class="fas fa-bars"></i>
</button>
<div id="site-wrapper">
  <section class="nav-section">
      <header>
          <nav>
              <button id="mobile-close">
                  <i class="fas fa-times"></i>
              </button>
              <ul>
                  <li>
                      <a href="/">Home</a>
                  </li>
                  <li>
                      <a href="about.html">About</a>
                  </li>
                  <li>
                      <a href="web-development.html">Web Dev</a>
                  </li>
                  <li>
                      <a href="design.html">Design</a>
                  </li>
                  <li>
                      <a href="art.html">Art</a>
                  </li>
                  <li>
                      <a href="#">Blog</a>
                  </li>

              </ul>
          </nav>
      </header>
  </section>