.books {
  background-color: $pistachio;
  @include rem(padding, 30px 25px 25px);
  @include rem(margin-top, 50px);

  @include screen('tablet') { 
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 20px;
  }

  h2 {
    color: $black;
  }

  .image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: '';

    }

    img {
      width: 190px;
    }
  }
}