.btn {
  display: inline-block;
  background: $matisse;
  color: $white;
  @include rem(padding, 15px);

  text-align: center;
  transition: background-color .5s;

  &:hover,
  &:focus {
    background: $pistachio;
    color: $white;
  }

  &.full-width {
    display: block;
  }
}
