.contact{
  background: rgba(255,255,255,0.5);
  max-width: 100%;

  .contact-container {
    @include screen('tablet') { 
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 2rem;
    }

    .c-box {
      background: $white;

      h2 {
        @include font-size(60px);  
        color: $matisse;
      }
    }

    .c-box:nth-child(1) {
      background: transparent;
      grid-column: 1;
    }

    .c-box:nth-child(2) {
      grid-column: 2 / span 3;
      padding: 2rem;

      form {
        label,
        input[type=text],
        textarea {
          display: block;
          width: 100%;
          margin-bottom: 1rem;

          span {
            color: red;
            @include font-size(12px);
            font-style: italic;
          }
        }

        input[type=text],
        textarea {
          border: 1px solid rgba(32, 111, 175,0.25);
          padding: .5rem;
          @include font-size(16px);  
          background: rgba(32, 111, 175,0.025);
        }

        input[type=submit] {
          -webkit-appearance: none;
          background: $matisse;
          color: $white;
          border: 0;
          padding: .75rem;
          @include font-size(16px);  
          cursor: pointer;
          width: 150px;
          transition: background .5s;
          margin-top: 1rem;

          &:hover,
          &:focus {
            background: $pistachio;
          }
        }
      }
    }
  }
}