.intro {
  background-image: url('/images/intro-bg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $matisse;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  max-width: 100vw;
  height: 40vh;
  border-bottom: 10px solid transparent;
  border-image: linear-gradient(90deg,$sunflower 5%,$pistachio 30%, $matisse 100%);
  border-image-slice: 1;

  @include screen('tablet') { 
    margin-top: -70px;
    height: 65vh;
  }

  &.art {
    background-image: url('/images/intro-bg-art-1.jpg');

  }

  &.design {
    background-image: url('/images/intro-bg-design-1.jpg');

  }

  .intro-container {
    h1,
    h2 {
      color: $white;
    }

    h1 {
      @include font-size(40px);  
      font-weight: 700;
      font-style: italic;
      text-shadow: 2px 2px 4px rgb(17, 17, 17);
      line-height: 40px;

      @include screen('tablet') { 
        @include font-size(60px);  
      }
      @include screen('tablet-wide') { 
        @include font-size(92px);  
        line-height: 72px;
        margin-bottom: 20px;
      }
    }

    span {
      @include font-size(18px);  
      font-weight: 400;
      color: $white;

      @include screen('tablet-wide') { 
        @include font-size(28px);  
      }
    }
  }
}