.intro {
  background-image: url('/images/intro-bg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $matisse;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  max-width: 100vw;
  height: 30vh;
  border-bottom: 10px solid transparent;
  border-image: linear-gradient(90deg,$sunflower 5%,$pistachio 30%, $matisse 100%);
  border-image-slice: 1;

  @include screen('tablet') { 
    margin-top: -50px;
    height: 40vh;
  }

  @include screen('tablet-wide') { 
    height: 50vh;
  }

  &.art {
    background-image: url('/images/intro-bg-art-1.jpg');

  }

  &.design {
    background-image: url('/images/intro-bg-design-1.jpg');
  }

  .intro-container {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;

    h2 {
      color: $white;
      @include font-size(30px);  
      font-weight: 700;
      font-style: italic;
      text-shadow: 2px 2px 4px rgb(17, 17, 17);
      line-height: 30px;
      margin-bottom: 0; 

      @include screen('tablet') { 
        @include font-size(72px);
        line-height: 70px;
      }
      @include screen('tablet-wide') { 
        @include font-size(92px);  
        line-height: 90px;
      }
    }

    span {
      @include font-size(18px);  
      font-weight: 400;
      color: $white;

      @include screen('tablet') { 
        @include font-size(28px);  
      }
    }
  }
}