nav {
  display: none;

  @include screen('tablet') {
    padding: 0;
  }

  @include screen('tablet') {
    display: block;
  }

  ul {
    margin-top: 60px;
    margin-bottom: 0;
    width: 100%;

    @include screen('tablet') {
      width: auto;
      margin-top: 0;
    }
  }

  li {
    position: relative;
    list-style: none;
    display: block;
    text-align: left;
    @include rem(padding, 14px 0 9px);
    margin-left: 0;
    border-bottom: 1px dotted $matisse;

    @include screen('tablet') {
      position: unset;
      display: inline-block;
      padding: 0;
      border-bottom: none;
    }

    button {
      position: absolute;
      top: 8px;
      right: 0;
      background: transparent;
      border: none;
      color: $sunflower;
      @include rem(padding, 8px 20px);
      z-index: 900;
      @include font-size(25px);

      @include screen('tablet') {
        display: none;
      }
    }

    a {
      color: $white;
      display: block;
      @include font-size(25px);

      @include screen('tablet') {
        display: inline-block;
        @include font-size(18px);
        @include rem(padding, 9px 16px);
        // border-bottom: 4px solid transparent;
        vertical-align: middle;
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;

        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          left: 0;
          right: 100%;
          bottom: 0;
          background: $sunflower;
          height: 4px;
          transition-property: right;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
        }
      }

      &.active {
        color: $sunflower;
      }

      &:hover,
      &:focus {
        color: $white;

        @include screen('tablet') {
          // border-bottom: 4px solid $sunflower;
          background: rgba(234, 197, 31, 0.25);

          &:before {
            right: 0;
          }
        }
      }
    }

    ul.second-level {
      display: none;
      padding-left: 0;
      margin-bottom: 0;
      margin-top: 0;

      @include screen('tablet') {
        position: absolute;
      }

      &.open {
        display: block;
        @include screen('tablet') {
          display: none;
        }
      }

      li {
        display: block;
        list-style: none;
        margin-left: 0;
        border-bottom: none;

        a {
          @include rem(padding, 9px 16px);
          @include font-size(16px);

          @include screen('tablet') {
            background-color: $sunflower;
            border-bottom: none;
            text-align: left;
            color: $black;
            width: 100%;
            transition: none;

            &:hover,
            &:focus {
              background-color: $pistachio;
              color: $black;

              &:before {
                display: none;
              }
            }
          }
        }
      }
    }

    @include screen('tablet') {
      &:hover>ul.second-level,
      &:focus>ul.second-level, 
      &:focus-within>ul.second-level {
        display: block;
      }
    }
  }
}