#mobile-nav {
  position: fixed;
  bottom: 0;
  right: 10px;
  background-color: $pistachio;
  width: 40px;
  z-index: 1000;
  text-align: center;
  color: $white;
  padding: 5px 0;
  @include font-size(25px); 
  border: 0; 
  cursor: pointer;

  @include screen('tablet') { 
    display: none;
  }
}