.project-info {
  @include screen('tablet') {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    border-bottom: 1px dotted $matisse;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}

.project-screenshots {
  img {
    max-width: 100%;
  }
}

ul ul {
  padding-left: 30px;

  li {
    list-style: square;
  }
}