.social {
  background: rgba(32, 111, 175, 0.5);
  max-width: 100%;
}

.social-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include rem(padding, 40px 0px);

  .c-social {
    background: $silver-chalice;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    @include rem(margin, 5px);


    &:hover,
    &:focus {
      box-shadow: 2px 2px $white;
    }

    @include screen('tablet-wide') {
      width: 70px;
      height: 70px;

      &:hover,
      &:focus {
        box-shadow: 5px 5px $white;
      }
    }

    &.github {
      background: $github;
    }

    &.codepen {
      background: $codepen;
    }

    &.twitter {
      background: $twitter;
    }

    &.linkedin {
      background: $linkedin;
    }

    &.youtube {
      background: $youtube;
    }

    &.instagram {
      background: $instagram;
    }
  }
}