.social {
  background: rgba(32, 111, 175,0.5);
  max-width: 100%;
}

.social-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .c-social {
    background: darkgray;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    @include screen('tablet') { 
      width: 100px;
      height: 100px;
    }
    &.github {
      background: #24292e;
    }

    &.codepen {
      background: #000;
    }

    &.twitter {
      background: #1da1f2;
    }

    &.linkedin {
      background: #0077b5;
    }

    &.youtube {
      background: #ff0000;
    }

    &.instagram {
      background: #833ab4;
    }
  }
}