table {
  border-collapse: collapse;
  width: 100%;
  @include rem(margin-bottom, 20px);

  caption {
    @include font-size(24px);
    @include rem(margin-bottom, 15px);
    text-align: left;
  }

  thead {
    display: none;
    @include screen('tablet-small') {
      display: table-header-group;
      background-color: $matisse;
      color: $white;
    }
  }

  td,
  th {
    display: block;
    border: none;
    @include rem(padding, 10px);
    @include screen('tablet-small') {
      display: table-cell;
      border: 1px solid $matisse;
    }
  }

  tr {
    border: 1px solid $matisse;
    @include screen('tablet-small') {
      border: none;
    }
  }

  td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 80px;
    @include screen('tablet-small') {
      display: none;
    }
  }

  tr:nth-of-type(even) {
    background: #f1f1f1;
  }
}