.work-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;

  h3 {
    margin-bottom: 0;
  }


  @include screen('tablet') { 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 600px;
    grid-gap: 2rem;
  }

  a.box {
    background: $white;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    position: relative;

    &:hover {
      box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    }

    .title {
      background: $matisse;
      color: $white;
      padding: 10px 20px;
      display: inline-block;
      position: relative;
      z-index: 100;

      @include screen('tablet') { 
        position: absolute;
        left: -10px;
        top: -10px;
        box-shadow: 5px 5px #ffffff;
      }

      h3 {
        @include font-size(16px);  
      }
    }
  }

  // What I do
  .box:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    background: transparent;

    @include screen('tablet') { 
      grid-column: 3;
      grid-row: 1 / span 1;
    }

    h2 {
      @include font-size(60px);  
      color: $matisse;
    }
  }
  
  // Web dev
  .box:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
    border-bottom: 10px solid $matisse;
    background-image: url('/images/img-webdev.jpg');
    background-size: cover;

    @include screen('tablet') { 
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
    }

  }
  // Design
  .box:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
    border-bottom: 10px solid $pistachio;
    background-image: url('/images/img-desgin.jpeg');
    background-size: cover;

    @include screen('tablet') { 
      grid-column: 1 / span 2;
      grid-row: 3;
    }

    .title {
      background: $pistachio;
    }
  }

  // Art
  .box:nth-child(4) {
    grid-column: 1;
    grid-row: 4;
    border-bottom: 10px solid $sunflower;
    background-image: url('/images/img-art.jpeg');
    background-size: cover;

    @include screen('tablet') { 
      grid-column: 3;
      grid-row: 2 / span 2;
    }

    .title {
      background: $sunflower;
    }
  }

}