.work-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;


  @include screen('tablet') { 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 800px;
    grid-gap: 2rem;
  }

  a.box {
    background: $white;

    .title {
      background: $matisse;
      color: $white;
      padding: 10px 20px;
      display: inline-block;
    }
    
    a {
      padding: 1rem;

      &:hover {
        background: rgba(234, 197, 31,0.25);

      }
    }
  }
  // What I do
  .box:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    background: transparent;

    @include screen('tablet') { 
      grid-column: 3;
      grid-row: 1 / span 1;
    }

    h2 {
      @include font-size(60px);  
      color: $matisse;
    }
  }
  
  // Web dev
  .box:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
    border-bottom: 10px solid $matisse;
    background-image: url('/images/img-webdev.jpg');
    background-size: cover;

    @include screen('tablet') { 
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
    }

  }
  // Design
  .box:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
    border-bottom: 10px solid $pistachio;
    background-image: url('/images/img-desgin.jpeg');
    background-size: cover;

    @include screen('tablet') { 
      grid-column: 2;
      grid-row: 3;
    }

    .title {
      background: $pistachio;
    }
  }

  // Art
  .box:nth-child(4) {
    grid-column: 1;
    grid-row: 4;
    border-bottom: 10px solid $sunflower;
    background-image: url('/images/img-art.jpeg');
    background-size: cover;

    @include screen('tablet') { 
      grid-column: 3;
      grid-row: 2 / span 2;
    }

    .title {
      background: $sunflower;
    }
  }

  // About me
  .box:nth-child(5) {
    grid-column: 1;
    grid-row: 5;
    border-bottom: 10px solid transparent;
    border-image: linear-gradient(90deg,$matisse 5%,$pistachio 30%, $sunflower 100%);
    border-image-slice: 1;
    background-image: url('/images/img-stl.jpg');
    background-size: cover;
    background-position-y: center;

    @include screen('tablet') { 
      grid-column: 1 / span 3;
      grid-row: 4 / span 2;
    }

    .title {
      background-image: linear-gradient(90deg,$matisse 5%, $pistachio 100%);
    }
  }


}