header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;

    @include screen('tablet-small') { 
        margin: 0;
    }

    nav {
        padding: calculateRem(20px);

        li {
            list-style: none;
            display: inline;

            a {
                padding: calculateRem(10px);
                color: white;
            }
        }
    }
}