.subpage {
  .intro {

    @include screen('desktop') { 
      height: 50vh;
    }

    .intro-container {
      h1 {
        @include font-size(30px);

        @include screen('tablet') {
          @include font-size(50px);
        }

        @include screen('tablet-wide') {
          @include font-size(70px);

        }
      }
    }
  }

  .content {
    h3 {
      @include rem(margin-top, 15px);
    }

    .self {
      width: 100%;
      box-shadow: 5px 5px $matisse;
      margin-bottom: 20px;

      @include screen('tablet') {
        float: left;
        max-width: 300px;
        @include rem(margin-right, 20px);
      }

      @include screen('tablet-wide') {
        margin-bottom: 0;
      }
    }
  }

  .skills {
    .skill-category {

      &.last {
        width: 100%;
      }

      li {
        display: inline-block;
        padding: 10px;
        @include rem(padding, 10px);
        border: 1px solid rgba($matisse, .5);
        margin: 0 10px 20px 0;
        @include rem(margin, 0 10px 20px 0);
      }
    }
  }
}