.subpage {

  .intro {

    .intro-container {
      h1 {
        @include font-size(30px);  

        @include screen('tablet') { 
          @include font-size(50px); 
        }

        @include screen('tablet-wide') { 
          @include font-size(70px); 

        }
      }
    }
  }

  .content {
    h3 {
      margin-top: 15px;
    }

    .self {
      width: 100%;
      box-shadow: 5px 5px $matisse;

      @include screen('tablet') { 
        float: left;
        max-width: 300px;
        margin-right: 20px;
        margin-bottom: 20px;
      }

      @include screen('tablet-wide') { 
        margin-bottom: 0;
      }
    }
  }

  .skills {
    display: flex;
    flex-wrap: wrap;

    .skill-category {
      flex-grow: 1;

      &.last {
        width: 100%;
      }

      li {
        display: inline-block;
        padding: 10px;
        border: 1px dotted $pistachio;
        margin: 0 10px 20px 0;
      }
    }
  }

  .job {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted $sunflower;

    
    .time-place {
      display: flex;
      justify-content: space-between;
    }

    .job-position {
      font-style: italic;
      font-weight: 300;
      @include font-size(14px);  
    }

    .job-time {
      @include font-size(14px);  
    }
  }

}